{{#each posts as |post| }}
<div class="post">
    <h2>{{post.name}}</h2>
    <p>{{post.content}}</p>
    <br> <br>
    <p>Posted by {{post.user.username}} on {{format_date post.date_created}}</p>
</div>
{{/each}}